---

- name: Ensure sudoers file for custom user exists
  file:
    path: "/etc/sudoers.d/{{ run_as_non_root_user }}"
    state: touch
    mode: '0440'
  become: yes
  when: run_as_non_root_user is defined and do_sudoers

- name: Add custom user to sudoers
  lineinfile:
    path: "/etc/sudoers.d/{{ run_as_non_root_user }}"
    state: present
    line: "{{ run_as_non_root_user }} ALL=(ALL) NOPASSWD:ALL"
    validate: 'visudo -cf %s'
  become: yes
  when: run_as_non_root_user is defined and do_sudoers

- name: Import Clemlab Jenkins publishing key
  apt_key:
    url: "{{ apt_key }}"
    state: present
  when: apt_key is defined

- name: Copy Repo [APT]
  copy:
    src: "{{ item }}"
    dest: /etc/apt/sources.list.d/
  when: offline_apt_repos is defined and offline_apt_repos
  with_fileglob:
    - "{{source_repo_folder}}/*.list"

- name: update apt cache
  shell: 'apt update -y'
  when: offline_apt_repos is defined and offline_apt_repos

- name: Import GPG key
  rpm_key:
    state: present
    key: "{{rpm_key}}"
  when: rpm_key is defined

- name: Copy Repo [YUM]
  copy:
    src: "{{ item }}"
    dest: /etc/yum.repos.d/
  with_fileglob:
    - "{{source_repo_folder}}/*.repo"
  when: offline_yum_repos is defined and offline_yum_repos

- name: Ensure software is installed (yum7/9)
  yum: name="hdp-select" state=present update_cache=yes disable_gpg_check=yes
  when: ambari_stack_name|lower != 'odp' and ansible_distribution != 'Ubuntu' and prepare_packages and (ansible_distribution_major_version == '7' or ansible_distribution_major_version == '9')

- name: Ensure software is installed (yum7/9)
  yum: name="odp-select" state=present update_cache=yes disable_gpg_check=yes
  when: ambari_stack_name|lower == 'odp' and ansible_distribution != 'Ubuntu' and prepare_packages and (ansible_distribution_major_version == '7' or ansible_distribution_major_version == '9')


- name: Ensure software is installed (yum8)
  raw: |
    set -e
    dnf install -y hdp-select
  when: ambari_stack_name|lower != 'odp' and ansible_distribution != 'Ubuntu' and prepare_packages and (ansible_distribution_major_version == '8')

- name: Ensure software is installed (yum9)
  raw: |
    set -e
    dnf install -y odp-select
  when: ambari_stack_name|lower != 'odp' and ansible_distribution != 'Ubuntu' and prepare_packages and (ansible_distribution_major_version == '9')


  # when: stack_major_version is defined

# - name: Compare stack major.minor against 1.3 (semver)
#   ansible.builtin.set_fact:
#     stack_major_minor_lt_1_3: "{{ stack_major_minor_semver is version('1.3.0', '<', strict=True) }}"
#     stack_major_minor_ge_1_3: "{{ stack_major_minor_semver is version('1.3.0', '>=', strict=True) }}"
#   when: stack_major_minor_semver is defined

- name: Ensure software is installed (apt) and ODP stack_major_version is < 1.3
  package: name="odp-select-{{stack_version_flattened}}" state=present
  when: ambari_stack_name|lower == 'odp' and ansible_distribution == 'Ubuntu' and prepare_packages and (stack_major_version[:3] is version('1.3', '<'))

- name: Ensure software is installed (apt) and ODP stack_major_version is >= 1.3
  package: name="odp-select" state=present
  when: ambari_stack_name|lower == 'odp' and ansible_distribution == 'Ubuntu' and prepare_packages and (stack_major_version[:3] is version('1.3', '>='))


- name: Packages [redhat7/9]
  package:
    name={{item}}
    state=installed
    update_cache=yes
  with_items:
    - ambari-agent
    - wget
  when: (ansible_distribution != "Ubuntu") and (ansible_distribution_major_version == '7' or ansible_distribution_major_version == '9')


- name: Ensure software is installed (redhat8)
  raw: |
    set -e
    dnf install -y ambari-agent wget
  when: ansible_distribution != 'Ubuntu' and prepare_packages and (ansible_distribution_major_version == '8')


- name: Packages [ubuntu22]
  package:
    state: present
    name: "{{item}}"
    use: apt
  with_items: 
    - ambari-agent
    - wget
    - libmysqlclient21
    - libmariadb3
    - mysql-client
  when: (ansible_distribution == "Ubuntu")


- name: fix env custom user
  shell: chmod +x /var/lib/ambari-agent/ambari-env.sh
  when: run_as_non_root_user is defined

- name : change ownership
  shell: chown -R {{ run_as_non_root_user }} /var/lib/ambari-agent
  when: run_as_non_root_user is defined

- name : change ownership
  shell: chown -R {{ run_as_non_root_user }} /var/log/ambari-agent
  when: run_as_non_root_user is defined

- name : change ownership
  shell: chown -R {{ run_as_non_root_user }} /var/run/ambari-agent
  when: run_as_non_root_user is defined

- name : change ownership
  shell: chown -R {{ run_as_non_root_user }} /etc/ambari-agent
  when: run_as_non_root_user is defined

- name: Copy systemd service for ambari-agent
  template:
    src: ambari-agent.ini.j2
    dest: /etc/ambari-agent/conf/ambari-agent.ini

- name: Modify conf ambari-agent
  lineinfile:
    path: /etc/ambari-agent/conf/ambari-agent.ini
    regexp: '^hostname='
    line: 'hostname={{ ambari_server_master }}'

- name: Copy systemd service for ambari-agent
  template:
    src: ambari-agent.service
    dest: /usr/lib/systemd/system/ambari-agent.service
  when: ansible_distribution != "Ubuntu"

- name: Copy systemd service for ambari-agent Ubuntu24
  template:
    src: ambari-agent.service
    dest: /usr/lib/systemd/system/ambari-agent.service
  when: ansible_distribution == "Ubuntu" and ansible_distribution_major_version >= '24'

- name: Systemd reload
  systemd: daemon_reload=yes

- name: Disable chkconfig
  command: chkconfig ambari-agent off 
  when: ansible_distribution != "Ubuntu" and ansible_distribution_major_version < '9'

# - name: Check if Ambari-agent is running
#   command: ambari-agent status
#   register: ambari_agent_status
#   ignore_errors: true

# - name: Restart Ambari-agent if running
#   command: ambari-agent restart
#   when: ambari_agent_status.rc == 0

# - name: Start Ambari-agent if not running
#   command: ambari-agent start
#   when: ambari_agent_status.rc != 0



# - name: Check if Ambari-agent service is running
#   systemd:
#     name: ambari-agent
#   register: ambari_service_status

- name: Start service Ambari-agent if not running
  systemd:
    state: restarted
    name: ambari-agent

- name: Enable service Ambari-agent
  systemd:
    enabled: yes
    name: ambari-agent.service

- include_tasks: register_agent.yml
  when: register_agent is defined and register_agent
    
- name: Install packages based on distribution [RHEL9]
  package:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - python3.11
    - python3.11-psycopg2
    - python3.11-setuptools
    - python3.11-devel
    - python3.11-libs
    - python3.11-lxml
  when: ansible_distribution != "Ubuntu" and ansible_distribution_major_version == '9'

- name: Install packages based on distribution [RHEL7]
  package:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - python39
    - python39-psycopg2
    - python39-setuptools
    - python39-devel
    - python39-libs
    - python39-lxml
  when: ansible_distribution != "Ubuntu" and (ansible_distribution_major_version == '7')

- name: Install packages based on distribution [RHEL8]
  raw: |
    set -e
    yum install -y python39 python39-psycopg2 python39-setuptools python39-devel python39-libs python39-lxml
  when: ansible_distribution != "Ubuntu" and (ansible_distribution_major_version == '8')


- name: Install packages based on distribution
  shell: > 
    alternatives --set python3 /usr/bin/python3.9
  when: ansible_distribution != "Ubuntu" and (ansible_distribution_major_version == '8')


- name: Install packages based on distribution
  shell: > 
    pip3.9 install distro
  when: ansible_distribution != "Ubuntu" and (ansible_distribution_major_version == '8')

- name: Install packages based on distribution
  shell: > 
    pip3.9 install rpm
  when: ansible_distribution != "Ubuntu" and (ansible_distribution_major_version == '8')


- name: install Hue python3 dependencies [RHEL8]
  raw: |
    set -e
    yum install -y python39-devel python39-libs python39-setuptools python39-pip python39-pip-wheel python39-psycopg2 python39-lxml
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ( (ansible_distribution == "CentOS" or ansible_distribution == "Rocky" or ansible_distribution == "RedHat" or ansible_distribution == "AlmaLinux" or ansible_distribution == "RedHat") and ansible_distribution_major_version == '8')

- name: install Hue python3 dependencies [RHEL9]
  package:
    name: ['python3.11-devel','python3.11-libs','python3.11-setuptools','python3.11-pip', 'python3.11-pip-wheel', 'python3.11-psycopg2']
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ( (ansible_distribution == "CentOS" or ansible_distribution == "Rocky" or ansible_distribution == "RedHat" or ansible_distribution == "AlmaLinux" or ansible_distribution == "RedHat") and ansible_distribution_major_version == '9')

# - name: install Hue python3 dependencies [Ubuntu24]
#   package:
#     name: ['python3.10-devel','libpython3.10','python3-psycopg2', 'python3-wheel']
  # when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ansible_distribution == "Ubuntu" and ansible_distribution_major_version == '24'

- name: Ensure APT cache is up to date
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ansible_distribution == "Ubuntu" and ansible_distribution_major_version == '24'

- name: Install prerequisite packages
  ansible.builtin.apt:
    name: software-properties-common
    state: present
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ansible_distribution == "Ubuntu" and ansible_distribution_major_version == '24'

- name: Add Deadsnakes PPA
  ansible.builtin.apt_repository:
    repo: ppa:deadsnakes/ppa
    state: present
    filename: deadsnakes-ppa
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ansible_distribution == "Ubuntu" and ansible_distribution_major_version == '24'

- name: Update APT cache after adding PPA
  ansible.builtin.apt:
    update_cache: yes
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ansible_distribution == "Ubuntu" and ansible_distribution_major_version == '24'

- name: Install Python 3.10 and related packages
  ansible.builtin.apt:
    name: ['python3.10-dev','libpython3.10','python3-psycopg2', 'python3-wheel']
    state: present
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ansible_distribution == "Ubuntu" and ansible_distribution_major_version == '24'

- name: Check Python 3.10 version
  ansible.builtin.command: python3.10 --version
  register: python310_version
  changed_when: false
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ansible_distribution == "Ubuntu" and ansible_distribution_major_version == '24'

- name: Show Python 3.10 version
  ansible.builtin.debug:
    msg: "Installed: {{ python310_version.stdout }}"
  when: all['HUE_SERVER'] is defined and inventory_hostname in all['HUE_SERVER'] and ansible_distribution == "Ubuntu" and ansible_distribution_major_version == '24'
