[Unit]
  Description=Ambari Agent
  After=network.target
  [Service]
  Type=forking
  ExecStart=/usr/sbin/ambari-agent start
  ExecStop=/usr/sbin/ambari-agent stop
  LimitNOFILE={{ambari_agent_no_file}}
  [Install]
  WantedBy=multi-user.target